#!/bin/bash
#==============================================================================
#TITLE:            postgres_backup.sh
#DESCRIPTION:      script for automating the daily mysql backups on development computer
#AUTHOR:           tleish
#DATE:             2013-12-20
#VERSION:          0.4
#USAGE:            ./postgres_backup.sh
#CRON:
  # example cron for daily db backup @ 9:15 am
  # min  hr mday month wday command
  # 15   9  *    *     *    /Users/[your user name]/scripts/postgres_backup.sh

#==============================================================================
# CUSTOM SETTINGS
#==============================================================================


# postgres Parameters
PG_HOST=$1
PG_UNAME=$2
export PGPASSWORD="$3"
if [[ -n $4 ]] ; then PG_DB_EXTRA_EXCLUDE=,\'$( echo "$4" | sed -e "s#,#','#g" )\'; fi
PG_DB_EXCLUDE="'rdsadmin'"${PG_DB_EXTRA_EXCLUDE}
S3_BACKUP_BUCKET={{ pg_s3_backup_bucket }}
S3_REGION={{ pg_s3_region }}

# directory to put the backup files
TMP_BACKUP_DIR={{ pg_tmp_backup_dir }}/$PG_HOST

# Number of days to keep backups
KEEP_BACKUPS_FOR="30" #days

#==============================================================================
# METHODS
#==============================================================================

# YYYY-MM-DD
TIMESTAMP=$(date +%F-%H-%M)

slack_notif(){
curl --silent --fail -X POST --data-urlencode "payload={\"username\":\"POSTGRES-EXPORT-job\",\"channel\":\"{{ pg_backup_slack_channel }}\",\"icon_emoji\": \":ghost:\",\"text\":\"ERROR on `hostname` : $*\"}" {{ pg_backup_slack_webhook }}
}

function log_message(){
  echo '['`date +%Y-%m-%d" "%H:%M:%S.%N`'] '"$*"
}

function log_error(){
log_message $*
>&2 echo '['`date +%Y-%m-%d" "%H:%M:%S.%N`'] ERR '"$*"
slack_notif "$*"
}

function delete_old_backups()
{
  log_message "Deleting $TMP_BACKUP_DIR/*.sql.7z older than $KEEP_BACKUPS_FOR days"
  find $TMP_BACKUP_DIR -type f -name "*.sql.7z" -mtime +$KEEP_BACKUPS_FOR -exec rm {} \;
}

function database_list() {
  psql -h $PG_HOST -U $PG_UNAME -d postgres -c "SELECT datname FROM pg_database WHERE datistemplate = false AND datname not in (${PG_DB_EXCLUDE});" -t
  retval=$?
  if [[ -n "$retval" && $retval -ne 0 ]]; then
      log_error "Cannot get DB list from host $PG_HOST"
      exit 1
  fi
}

function backup_database(){
  backup_file="$TMP_BACKUP_DIR/$TIMESTAMP.$PG_HOST.$database.sql.7z"
  log_message "$database => $backup_file"
  log_message "...backing up $count of $total databases: $database"
  pg_dump -h $PG_HOST -U $PG_UNAME -d $database | 7z a -si $backup_file
  retval_dump_bash="${PIPESTATUS[0]}" retval_dump_zsh="${pipestatus[1]}" retval_final=$?
  #/!\ bash =/= zsh
  if [[ -n "$retval_dump_bash" && $retval_dump_bash -ne 0 ]]; then
      log_error "Dumping of DB $PG_HOST : $PG_UNAME : $database failed."
  fi
  if [[ -n "$retval_dump_zsh" && $retval_dump_zsh -ne 0 ]]; then
      log_error "Dumping of DB $PG_HOST : $PG_UNAME : $database failed."
  fi
  if [[ -n "$retval_final" && $retval_final -ne 0 ]]; then
      log_error "Archiving of DB dump $backup_file failed."
  fi
}

function archive_database(){
  log_message "Uploading to s3"
  backup_file="$TMP_BACKUP_DIR/$TIMESTAMP.$PG_HOST.$database.sql.7z"
  REMOTE_ARCHIVE_NAME="$database.sql.7z"
  aws s3 cp "${backup_file}" "s3://${S3_BACKUP_BUCKET}/${PG_HOST}/${REMOTE_ARCHIVE_NAME}" --region "${S3_REGION}" --profile pg_backup --only-show-errors

  if [ $? -ne 0 ]; then
      log_error "Uploading of archive failed."
  else
      log_message "removing local dump file"
      /bin/rm -f "$TMP_BACKUP_DIR/$TIMESTAMP.$PG_HOST.$database.sql.7z"
  fi
}

function backup_databases(){
  local databases=$(database_list)
  local total=$(echo $databases | wc -w | xargs)
  local count=1
  for database in $databases; do
    backup_database
    archive_database
    local count=$((count+1))
  done
}



function hr(){
  printf '=%.0s' {1..100}
  printf "\n"
}

#==============================================================================
# RUN SCRIPT
#==============================================================================
# Test 7zip presence
if [[ ! $(type -P 7za) ]] ; then
  log_error "Error! 7zip not installed."
  exit 1
fi

delete_old_backups
hr
backup_databases
hr
log_message "All backed up!\n\n"


